<web-app>
	<!-- root-저장소 -->
	
	<servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!-- DispatcherServlet 전용 설정 파일 -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>

    <!-- 서블릿 초기화 시점에 Spring 컨텍스트 로드 -->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- DispatcherServlet 매핑 -->
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
	
	
	<!-- ContextLoaderListener : Spring IoC 컨테이너 초기화 -->
	  <listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener>
	  <context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>
	    /WEB-INF/spring/root-context.xml
	    </param-value>
	  </context-param>
	  
  
	<!-- servlet 저장소 -->
	
	<filter>
	    <filter-name>encodingFilter</filter-name>
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	
	    <init-param>
	        <param-name>encoding</param-name>
	        <param-value>UTF-8</param-value>
	    </init-param>
	    
	    <init-param>
        	<param-name>forceEncoding</param-name>
        	<param-value>true</param-value>
   		</init-param>
    
	</filter>
	
	<filter-mapping>
	    <filter-name>encodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
   
   <filter>
   	<filter-name>httpMethodFilter</filter-name>
   	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
   </filter>
   <filter-mapping>
   	<filter-name>httpMethodFilter</filter-name>
   	<url-pattern>/*</url-pattern>
   </filter-mapping>
   
   <jsp-config>
	    <jsp-property-group>
	        <url-pattern>*.jsp</url-pattern>
	        <is-xml>false</is-xml>
	        <el-ignored>false</el-ignored>
	    </jsp-property-group>
	</jsp-config>
 

</web-app>
